*
{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body{
    background:  #111;
}
section
{
    background-color: #111;
    min-height: 100vh;
}

section .bannerVideo
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section .bannerVideo video
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
}

section .bannerVideo video.active{
    opacity: 1;
}

.container
{
    position: relative;
    padding: 0 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;

}

.container::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    backdrop-filter: blur(10px);
    box-shadow:  10px 0 15px rgba(0,0,0,0.05);
}

.container header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;

}

.container header .logo
{
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    text-decoration: none;
}

.container header ul
{
    position: relative;
    display: flex;
}

.container header ul li 
{
    list-style: none;
    margin: 0 20px;
}

.container header.active ul
{
    display: flex;
}

.container header ul li a 
{
    position: relative;
    text-decoration: none;
    font-size: 18px;
    padding: 4px 10px;
    color: #fff;

    transition-property: color background;
    transition-duration: 0.5s;
}


.container header ul li a.active,
.container header ul li a:hover
{
    background: #ffff00;
    color: #111;
}


.container .content
{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.container .content .bannerText
{
    position: relative;
    max-width: 700px;
}


.container .content .bannerText div
{
    display: none;
    transition: 0.5s ease-in-out;
}


.container .content .bannerText div.active
{
    display: initial;
}

.container .content .bannerText div h2
{
    color: #fff;
    font-size: 6em;
    line-height: 1em;
    font-weight: 700;
}

.container .content .bannerText div p
{
    color: #fff;
    font-size: 18px;
    margin: 20px 0px;
}



.controls
{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
}

.controls li
{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    cursor: pointer;

}

.controls li:hover
{
  
}

.controls img{
    width: 25px;
    height: 25px;
    object-fit: cover;
} 


/* Now, make it responsive */

@media(max-width:991px)
{
    .container
    {
        padding: 20px;
        
    }

    .container::before{
        width: 100%;
    }

    .container header{
        padding: 10px 20px;
    }

    .container .content .bannerText div h2{
        font-size: 3em;
    }

    .container .content .bannerText{
        text-align: center;
    }

    .container header ul
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgb(0, 0, 0);
        z-index: 1000;
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .container header ul li
    {
        text-align: center;
        margin: 10px;
    }

    .container header ul li a
    {
        color: #333;
        font-size: 1.5em;
        transition-property: color;
        transition-duration: 0.5s;
    }

    .container header ul li a:hover{
        color: #f00;

    }

    .menuIcon{
        position: fixed;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        display: initial;
        z-index: 10000;
        background: #fff url(menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    
    }

    .menuIcon.active
    {
        background: #fff url(menu.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;

    }

    

    .controls li
    {
        width: 60px;
        height: 60px;
    }

    .controls img{
        width: 20px;
        height: 20px;
        object-fit: cover;
    } 
}
.sci{
    position: relative;
    right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    top: 500px;

}

.sci li{
    list-style: none;
}

.sci li a{
    text-decoration: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 10px;
    
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.sci li a img{
    transform: scale(0.6);
    transition: 0.5s;
    
}

.sci li:hover a img{
    transform: scale(0.6) rotate(360deg);
}

.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  position: relative;
  top: 130px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
          align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .card {
    height: 350px;
  }
}
.card:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  -webkit-transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e), -webkit-transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(11.7%, rgba(0, 0, 0, 0.009)), color-stop(22.1%, rgba(0, 0, 0, 0.034)), color-stop(31.2%, rgba(0, 0, 0, 0.072)), color-stop(39.4%, rgba(0, 0, 0, 0.123)), color-stop(46.6%, rgba(0, 0, 0, 0.182)), color-stop(53.1%, rgba(0, 0, 0, 0.249)), color-stop(58.9%, rgba(0, 0, 0, 0.32)), color-stop(64.3%, rgba(0, 0, 0, 0.394)), color-stop(69.3%, rgba(0, 0, 0, 0.468)), color-stop(74.1%, rgba(0, 0, 0, 0.54)), color-stop(78.8%, rgba(0, 0, 0, 0.607)), color-stop(83.6%, rgba(0, 0, 0, 0.668)), color-stop(88.7%, rgba(0, 0, 0, 0.721)), color-stop(94.1%, rgba(0, 0, 0, 0.762)), to(rgba(0, 0, 0, 0.79)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e), -webkit-transform calc(var(--d) * 2) var(--e);
}
.card:nth-child(1):before {
  background-image: url(images/reserv.jpg);
}
.card:nth-child(2):before {
  background-image: url(images/pagos.jpg);
}
.card:nth-child(3):before {
  background-image: url(images/seguridad.jpg);
}
.card:nth-child(4):before {
  background-image: url(images/dj.jpg);
}

.contente {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
  padding: 1rem;
  -webkit-transition: -webkit-transform var(--d) var(--e);
  transition: -webkit-transform var(--d) var(--e);
  transition: transform var(--d) var(--e);
  transition: transform var(--d) var(--e), -webkit-transform var(--d) var(--e);
  z-index: 1;
}
.contente > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.155rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  background-color: rgb(251, 255, 0);
  border: none;
}
.btn:hover {
  background-color: #ffffff;
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  .contente {
    -webkit-transform: translateY(calc(100% - 4.5rem));
            transform: translateY(calc(100% - 4.5rem));
  }
  .contente > *:not(.title) {
    opacity: 0;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    -webkit-transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
  }

  .card:hover,
  .card:focus-within {
    -webkit-box-align: center;
            align-items: center;
  }
  .card:hover:before,
  .card:focus-within:before {
    -webkit-transform: translateY(-4%);
            transform: translateY(-4%);
  }
  .card:hover:after,
  .card:focus-within:after {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .card:hover .contente,
  .card:focus-within .contente {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .card:hover .contente > *:not(.title),
  .card:focus-within .contente > *:not(.title) {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition-delay: calc(var(--d) / 8);
            transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before, .card:focus-within:after,
  .card:focus-within .contente,
  .card:focus-within .contente > *:not(.title) {
    -webkit-transition-duration: 0s;
            transition-duration: 0s;
  }
}







html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 1rem;
  scroll-behavior: smooth;
}

section{
  padding:-1.2rem 9%;
}


.section .footer{
  background:#333;
   
}

.footer .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  padding-top: 350px; 
}

.footer .box-container .box{
  padding:1rem 0;
  flex:1 1 25rem;
}

.footer .box-container .box h3{
  font-size: 2.5rem;
  padding:.7rem 0;
  color:#fff;
}

.footer .box-container .box p{
  font-size: 1.5rem;
  padding:.7rem 0;
  color:#eee;
}

.footer .box-container .box a{
  display: block;
  font-size: 1.5rem;
  padding:.7rem 0;
  color:#eee;
}

.footer .box-container .box a:hover{
  color:var(--orange);
  text-decoration: underline;
  
}

.footer .credit{
  text-align: center;
  padding:2rem 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: normal;
  color:#fff;
  border-top: .1rem solid rgba(255,255,255,.2);
}

.footer .credit span{
  color:var(--orange);
}
